[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cppthings"]
	path = cppthings
	url = https://github.com/Cyclic3/cppthings
[submodule "span-lite"]
	path = span-lite
	url = https://github.com/martinmoene/span-lite.git
